.THIS .fullwidth{
    width : 100% !important;
    padding : 0 !important;
}

@mediaonly screen and (min-width: 48em) .slds-modal_large .slds-modal__container, .slds-modal--large .slds-modal__container{
    padding : 0 ;
    width : 100% !important;
    max-width: none;
}
.THIS .modal-header .slds-modal__header{
    background-color: blue;
    text-align: left;
    font-style: oblique;
    background-color: navy;
    color: white;
}