.THIS .slds-form-element {
    height: 34px;
}
.THIS h5.section-header{
    border-bottom: solid 1px #c3c3c3;
    padding: 7px 0;
    clear: left; 
}
.THIS .priya .slds-form-element__label {
    display: inline-flex;
}
.THIS .priya div{
    left: 100px;
}
.THIS .buttonClass{
    float:right;
}