.THIS#divM{
  background-color: white;
  background-size: 75% 50%;
  border-radius:5px;
}
.THIS #para h1{
    font-size : 1.3em;
    
}
.THIS #divId {
    padding-left :20px;
}
.THIS #divId2 {
    padding-left :20px;
}
@mediaonly screen and (min-width: 48em) .slds-modal_large .slds-modal__container, .slds-modal--large .slds-modal__container{
    padding : 0 ;
    /*width : 100% !important;*/
    max-width: none;
}
.THIS#menu1{
    padding-right : 9px ;
      width: 1.3rem;
    height: 1.3rem; 
}
.THIS .slds-modal__close1{
   padding-right: 0;
    float: right;
    margin: -30px;
}
.THIS ul.inter_strip_bg {
    border: 1px solid #d4d2d2;
    border-radius: 8px;
    margin: 0 10px 0 0;
}
.THIS .inter_strip_bg li {
    padding: 6px;
    border-top: 1px solid #d4d2d2;
    border-radius: 0px;
}
.THIS .inter_strip_bg li:first-child {
    border-top: none;
}
.THIS .slds-button_icon-bare{
    line-height: 1;
    vertical-align: middle;
    color: rgb(112, 110, 107);
    float: right;
}
.THIS lightning-input.inputC.slds-form-element div{

    padding-left:0%;
}
.THIS .fieldset.slds-container--small {
    max-width: 50rem;
}