.THIS .slds-form-element__label{
    font-size: 17px;
}
.THIS .data-row:hover {
    background-color:skyblue;
    cursor:pointer;
}
.THIS .selectedRow{
    background-color:#4682B4;
    color:black;
}