.THIS .data-row:hover {
    background-color:#F3E2E0;
    cursor:pointer;
}
.THIS .selectedRow{
    background-color:pink;
    color:black;
    height: auto;
    overflow: auto;
}
.THIS .data-row .slds-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .selectedRow .slds-truncate {
    max-width: 100%;
    overflow: vissible;
    text-overflow: unset;
    white-space: normal;
    word-break: break-all;
}
.THIS .all-cmnt-btn {
    padding: 0;
    border: none;
    font-size: 16px;
    margin: -5px 0 0 0;
}
.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.THIS .slds-textarea {
    height:100px !important;
}