.THIS#para1  {
  background-color: white;
  background-size: 75% 50%;
  border-radius:5px;
    white-space: nowrap;
}
.THIS .icon {
    max-width: 100%;
    height: auto;
}
.THIS #para h1{
    font-size : 1.3em;
    
}
.THIS #divId {
    padding-left :20px;
}
@mediaonly screen and (min-width: 48em) .slds-modal_large .slds-modal__container, .slds-modal--large .slds-modal__container{
    padding : 0 ;
    width : 100% !important;
    max-width: none;
}
.THIS .menu{
    position: relative;
    padding: .5rem .75rem;
}
.THIS #divCol{
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.THIS .slds-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
.THIS .slds-button--icon-xx-small {
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1;
}