.THIS .exampleHolder {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 99;
    background: rgba(255, 255, 255, 0.5);
}
.THIS .img {
    background-position: center;
    background-image: url("https://ladyboss--tirthbox--c.cs22.content.force.com/servlet/servlet.ImageServer?id=01517000000u03m&oid=00D17000000DQek&lastMod=1588312741000");
    background-repeat: no-repeat;
    background-size: contain;
    display: table;
    width: 100%;
}
.THIS .text {
    text-align: center;
    height: 200px;
    font-size: 3em;
    color: deeppink;
    display: table-cell;
    vertical-align: middle;
}
.THIS h1{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}
.THIS h2{
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.THIS .col-sm {
    padding: 5px;
    margin: 1px;
    border-width: 10px;
    border-style: solid;
}

.THIS .fa-check-square-o:before {
    content: "\f046";
    vertical-align: -webkit-baseline-middle;
}