@media (min-width: 900px) {
    .THIS .slds-button {
        margin-bottom: 10px;
    }

    .THIS .slds-modal__container {
        width: 31% !important;
        min-width: 31% !important;
    }

    .THIS .slds-modal__container h1 {
        padding-top: 5px;
        padding-bottom: 10px;
        font-size: .9em;
    }

    .THIS fieldset.slds-box.slds-theme--default.slds-container--small.mobilefieldset {
        width: 87%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-54%, -50%);
    }

}

@media (max-width:900px) {
    .THIS .slds-modal__container {
        width: 90% !important;
        min-width: 90% !important;
    }

    .THIS .slds-modal__container h1 {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: .6em;
    }

    .THIS .imageClass {
        max-width: fit-content !important;
    }

    .THIS fieldset.slds-box.slds-theme--default.slds-container--small.mobilefieldset {
        width: 87%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -50%);
    }

    .THIS .mibilecont {
        position: relative;
        transform: translate(0, 0);
        transition: transform .1s linear, opacity .1s linear;
        display: flow-root !important;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 3rem 0;
        border-radius: .25rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .mobileProduct {
        width: 50%;

    }

    .THIS .col-md-4 {

        flex: 0 0 33.333333%;
        max-width: 93.333333% !important;
    }
}

.THIS .slds-button {
    margin-bottom: 10px;
}

.THIS.exampleHolder {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 99;
    background: rgba(255, 255, 255, 0.5);
}