.THIS .RightAlign {
    float: right;
    margin-top: 20px;
    margin-left: 20px;
}


.THIS .exampleHolder {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 99;
    background: rgba(255, 255, 255, 0.5);
}