.THIS .exampleHolder {
  display: none !important;
}

@media (max-width: 768px) {
  .THIS .menu {
    margin-right: 8.25em;
    margin-bottom: 4.5em;
  }
  .THIS .slds-button_icon-border {
    margin-left: 5rem !important;
  }

  .THIS .subsHub {
    margin-bottom: 10px !important;
  }
  .THIS .slds-modal__container {
    width: 99% !important;
    margin-left: 1%;
  }
}
@media (min-width: 768px) {
  .THIS .slds-modal__container {
    width: 55% !important;
    margin-left: 40%;
  }
}
.THIS.exampleHolder {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 99;
  background: rgba(255, 255, 255, 0.5);
}