.THIS .slds-button_neutral {
    background-color:deeppink;
}
.THIS .slds-button_neutral:disabled {
    background-color:pink;
}
.THIS .slds-button:disabled {
    color:black;
}
.THIS .slds-button {
    color:White;
}
.THIS .slds-button_neutral:hover {
    background-color:blue;
    color:White;
}