.THIS ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c5c1c1;
    opacity: 1; /* Firefox */
}

.THIS :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c5c1c1;
}

.THIS ::-ms-input-placeholder { /* Microsoft Edge */
    color: #c5c1c1;
}

.THIS .slds-notify.w-100.slds-notify_toast.slds-theme_error {
    min-width: 0 !important;
}
.THIS input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.THIS input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.THIS .slds-button_neutral {
    background-color:deeppink;
}
.THIS .slds-button_neutral:disabled { 
    background-color:pink;
}
.THIS .slds-button:disabled {
    color:black;
}
.THIS .slds-button {
    color:White;
}
.THIS .slds-button_neutral:hover {
    background-color:blue;
    color:White;
}
.THIS .slds-button_brand{
    background-color:rgb(0, 112, 210)!important;
    width: 155px;
}
.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}
.THIS .but{
    float: left;
}

.THIS .RightAlign{
    float: right;
}
@media screen and (min-width:901px){
    .THIS .updateCardClass{
        width:3%;
    }
    .THIS .slds-size_3-of-12 {
        width:34% !important;
        display:block;
        margin-top: 0%;
        height: fit-content;
    }
    .THIS .mobileupdateimage{
        max-width:36%;
    }
    .THIS .slds-align_absolute-center.mobileClassMembership {
        font-size: X-LARGE;
        padding-bottom: 43px;
    }
    .THIS .liStyle {
        flex: 0 0 33.33%;
        box-sizing: border-box;
        padding: 10px;
    }
    .THIS .ulStyle{
        display: flex;
        flex-wrap: wrap;
    }
    .THIS .DesktopView{
        margin-top:10%;
    }
    .THIS .mobileClassTable{
        display:none;
    }
}
@media screen and (max-width: 900px) {
    /* .THIS .slds-is-open {
    width:100%;
}*/
    .THIS .slds-size_3-of-12 {
        width:94% !important; 
        display:block;
        margin-top: 0%;
        height: fit-content;
    }
    .THIS .mobileguttersclass{
        margin-top:11%;
    }
    .THIS .updateCardClass{
        width:9%;
    }
    .THIS .mobileClassMembership {
        display:inline-block;
    }
    .THIS .mobileClassTable{
        margin-top:10%;
        display: block;
    }
    .THIS .DesktopView{
        display:none;
    }
    .THIS .mobileCheckBox{
        display: inline-block;
        width: 100%;
    }
    .THIS .mobileupdateimage{
        margin-top:2%;
        max-width:50%;
    }
}