.THIS .updateButton {
    top: 17px;
    left: -36px;
    height: 39px;
    background: #f0006f;
    border:unset;
}
.THIS .updateButton:hover {
    background: #e745ad;
    border:unset;
    color: #015ba7;
}
.THIS .updateButton:focus{
    background: #f0006f;
    border:unset;
    box-shadow: unset;
}