<apex:page standardController="Contact">
                        <iframe height="965"
                                allowTransparency="true"
                                frameborder="0"
                                scrolling="no"
                                style="width:100%;border:none"
                                src="https://ladybossweightloss.wufoo.com/embed/zh6d3tk13zfjf9/">
                          <a href="https://ladybossweightloss.wufoo.com/forms/zh6d3tk13zfjf9/">
                            Fill out my Wufoo form!
                          </a>
                        </iframe>
</apex:page>