<apex:page standardController="Contact">
<!-- ScheduleOnce embed START -->
<div id="SOIDIV_DavidKrainiak" data-so-page="DavidKrainiak" data-height="550" data-style="border: 1px solid #d8d8d8; min-width: 290px; max-width: 900px;" data-psz="00"></div>
<script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>
<!-- ScheduleOnce embed END -->
</apex:page>