<apex:page sidebar="false" showHeader="false" standardStylesheets="false">
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600" rel="stylesheet"/> 

    <title>Thankyou</title>
  </head>
  <body style="background:#cdcdcd;font-family: 'Raleway', sans-serif;">
    <div class="container" style="background: #fff;max-width: 1170px;margin: 0 auto;position: relative;height: 100vh;">
        <ul style="padding: 30px;margin: 0;">
            <li style="display: inline-block;width: 49%;list-style: none;vertical-align: top;">
                <h2 style="color: #999999;font-weight: 600;">Thank you for your response! We work hard to make our customers happy. </h2>
                <a href="javascript:void(0);" style="font-weight: 600;color: #DA2B06;text-decoration: none;">You clicked Excellent</a>
                <p style="color: #525257;">We are delighted that you are so happy with us at the moment and we really appreciate your feedback.</p>
            </li>
            <li style="display: inline-block;width: 49%;list-style: none;">
                <img src="https://app.customerthermometer.com/uploads/9319/company_logos/66817_LadyBoss.jpg" style="max-width: 100%;"/>
            </li>
        </ul>
        <img src="https://ladyboss--devs--c.cs90.content.force.com/servlet/servlet.ImageServer?id=0151F000000IEX3&oid=00D1F000000CmxM&lastMod=1557407846000" style="width: 100%;position: absolute;bottom: 0;"/>
    </div> 
       
  </body>
</html>

<!--
Thank you for your response! We work hard to make our customers happy.
<font color="#DA2B06" size="3px">You clicked Excellent</font >
We are delighted that you are so happy with us at the moment and we really appreciate your feedback.<br/><br/><br/>
<apex:image url="https://app.customerthermometer.com/uploads/9319/company_logos/66817_LadyBoss.jpg" height="15%" width="25%"/>

               <apex:image url="https://ladyboss--devs--c.cs90.content.force.com/servlet/servlet.ImageServer?id=0151F000000IEX3&oid=00D1F000000CmxM&lastMod=1557407846000" height="100%" width="100%"/>
  
         -->       
</apex:page>