<apex:page docType="HTML-5.0" controller="FaceBook_PagesController" action="{!onInit}">
    <apex:messages />
    <apex:form >
        <apex:pageBlock >
        <apex:pageBlockTable value="{!facebookPageList}" var="fb">
            <apex:column >
                <apex:inputField value="{!fb.isActive__c}"/>
            </apex:column>
            <apex:column value="{!fb.Page_Name__c}" />
            <apex:column value="{!fb.username__c}" />
            <apex:column value="{!fb.category__c}" />
            <apex:column value="{!fb.about__c}" />
        </apex:pageBlockTable>
            <apex:pageBlockButtons >
                <apex:commandButton action="{!savePage}" value="Save" dir="RTL"/>
                <apex:commandButton action="/apex/FaceBook_Login" value="close"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>