<apex:page standardController="Contact" extensions="LTVCoachingCommissionYear2Cont" docType="html-5.0" action="{!redirect4}">
    <html>
        <body>
            <head>
            </head>
            <apex:form rendered="{!showcheck}" >
                <div >
                    <br/><br/>
                    <apex:outputPanel >
                        <font  color="Red"> {!showMessege}  </font> 
                    </apex:outputPanel>
                </div>
            </apex:form>
            <apex:form rendered="{!checkCommis}">
                <div >
                    <br/><br/>
                    <apex:outputPanel id="chartId">
                        <font  color="black"> {!commissions}  </font> 
                    </apex:outputPanel>
                </div>
                <div >
                    <br/><br/>
                    <apex:outputPanel >
                        <font color="black"> {!commRemainAmo}  </font> 
                    </apex:outputPanel>
                </div>
                <div >
                <div >
                    <br/><br/>
                    <apex:outputPanel >
                        <font color="black"> {!commfinalAmo}  </font> 
                    </apex:outputPanel>
                </div>
                    <apex:outputPanel rendered="{!commRemainMonCheck}" >
                    <br/><br/>
                        <font color="black" > {!commRemainMon}  </font> 
                    </apex:outputPanel>
                </div>
                <div >
                    <apex:outputPanel rendered="{!commDownPayCheck}" >
                    <br/><br/>
                        <font  color="black"> {!commDownPay}  </font> 
                    </apex:outputPanel>
                </div>
                
            </apex:form>
        </body>      
    </html>
</apex:page>