<apex:page docType="html-5.0" controller="RecoveredPaymentChartController" action="{!getData}" sidebar="false">
    <apex:pagemessages />
    <apex:form ><br/><br/>
        <!--<font Style="font-size: 18px;">Total Dollar Recovered : {!dollarsRecovered}</font>--><br/><br/>
        <table id="customers">
            <tr>
                <th>Case Owner</th>
                <th>Failed Payment Amount</th>
                <th>Recovered Dollar</th>
                <th>% of Dollars Recovered</th>
                
            </tr>
            <apex:repeat value="{!user_amount}" var="dat" rendered="{!showOpp}">
                <tr>
                    <td><apex:outputText value="{!dat.userName}"></apex:outputText></td>
                    
                    
                    <td><apex:outputText value=" ${!dat.totalAmount}"></apex:outputText></td>
                    <td><apex:outputText value=" ${!dat.recoverdAmount  }"></apex:outputText></td>
                    <td><apex:outputText value="{0, number, 0.00}%">
                        <apex:param value="{!dat.recoverdAmount/dat.totalAmount}" />
                        </apex:outputText></td>
                    
                </tr>
            </apex:repeat>
        </table>
        <br></br>
        <div Style="padding: 1% 3% 1% 3%;">
            <b> Start Date  &nbsp;  &nbsp; :  &nbsp; </b><apex:input type="date" value="{!startDate}" />
            <br></br>
            <br></br>
            <b> End Date  &nbsp; &nbsp; &nbsp;: &nbsp; </b><apex:input type="date" value="{!endDate}" />
            <br></br>
            <br></br>
            <b>User Name  &nbsp; :  &nbsp; </b><apex:selectList size="1" value="{!strSelectStudentOption}">
            <apex:selectOptions value="{!StudOption}"/>
            </apex:selectList>
            <br></br>
            <br></br>
            <apex:commandButton value="refresh" action="{!getData}" /><br/><br/>
        </div>        
    </apex:form> 
    <style>
        #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        
        #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        }
        
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        
        #customers tr:hover {background-color: #ddd;}
        
        #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
        }
    </style>
    <style>
        #myChart {
        height:100%;
        width:100%;
        // min-height:150px;
        }
        #myChart-license-text {
        display: none !important;
        }
    </style>
    <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
    <script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/"; 
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>   
    <div id='myChart'> </div>
    <script>
    window.feed = function(callback) {
        var tick = {};
        var amo =parseInt("{!amount}");
        tick.plot0 =amo;     //Math.ceil(350 + (Math.random() * 500));
        callback(JSON.stringify(tick));
    };
    
    var myConfig = {
        type: "gauge",
        globals: {
            fontSize: 10 
        },
        plotarea:{
            marginTop:10
        },
        plot:{
            size:'70%',
            valueBox: {
                placement: 'center',
                text:'%v', //default
                fontSize:20,
                rules:[
                    {
                        rule: '%v < 100000',
                        text: '<br><br>${!amount}'
                    }   
                ]
            }
        },
        tooltip:{
            borderRadius:5
        },
        scaleR:{
            aperture:180,
            minValue:0,
            maxValue:100000,
            step:5000,
            center:{
                visible:false
            },
            tick:{
                visible:false
            },
            item:{
                offsetR:-65,
                rules:[
                    {
                        rule:'%i == 9',
                        offsetX:0
                    }
                ]
            },
            ring:{
                size:20,
                rules:[
                    {
                        rule:'%v <= 25000',
                        backgroundColor:'#E53935'
                    },
                    {
                        rule:'%v >= 25000 && %v < 50000',
                        backgroundColor:'#FFA500'
                    },
                    {
                        rule:'%v >= 50000',
                        backgroundColor:'#008000'
                    }      
                ]
            }
        },
        refresh:{  
            type:"feed",
            transport:"js",
            url:"feed()",
            interval:1500,
            resetTimeout:1000
        },
        series : [
            {
                values : [755], // starting value
                backgroundColor:'black',
                //indicator:[10,0,0,0,0],
                "csize":"10%",
                "size":"70%",
                animation:{  
                    effect:2,
                    method:1,
                    sequence:4,
                    speed: 900
                },
            }
        ]
    };
    
    zingchart.render({ 
        id : 'myChart', 
        data : myConfig, 
        height: 400, 
        width: '100%'
    });
    </script>
</apex:page>