<apex:page controller="SmsContactRecord"   showHeader="false" sidebar="false" standardStylesheets="true" >
    <apex:slds />
    <apex:pageMessages />
    <div class="slds-scope">
        <apex:form id="changeDescription">
            <apex:actionPoller action="{!reload}" rerender="dotId, toNumber, renderonsubmit,table2,blackrendering,newrend" interval="30"/>
            <apex:outputPanel id="newrend" rendered="{!IF(newSMSCount!=0,true,false)}">
                <b> You have {!newSMSCount} new messages!</b> <span class="dot"></span></apex:outputPanel>
            <apex:pageBlock >
                <p class="slds-align_absolute-center" style="font-size: 1rem;color : Red;">{!errorMsg}</p>
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="text-input-id-1">From Number :</label>
                    <div class="slds-form-element__control">
                        <apex:inputText styleClass="slds-input" value="{!fromNumber}" id="fromNumber" disabled="true"/>
                    </div>
                </div>
                <div class="slds-form-element" id = "number">
                    <label class="slds-form-element__label" for="text-input-id-1">To Number :</label>
                    <div class="slds-form-element__control">
                        <apex:inputText styleClass="slds-input" value="{!toNumber}" id="toNumber"  disabled="true"/>
                    </div>
                </div>
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="textarea-id-01">Message :</label>
                    <div class="slds-form-element__control">
                        <apex:inputTextarea id="message" styleClass="slds-textarea" value="{!messageData}" rows="7"/>
                    </div>
                </div>
                <p class="slds-align_absolute-center" style="font-size: 1rem;color : Red">{!BodyerrorMsg}</p>
                <br/>
                <div class="slds-form-element" id="linkPanel">
                    <div class="slds-form-element__control">
                        <apex:commandButton styleClass="slds-button slds-button_brand" value="Send SMS" action="{!sendSMS}" disabled="{!If(errorMsgFlag == false ,false,true)}"/>
                    </div>
                </div>
                <br/>
                <apex:outputPanel id="renderonsubmit" rendered="{!isFullCon}" >
                    <div class="slds-form-element" id="showmsg">
                        <label class="slds-form-element__label" for="textarea-id-01">Conversation History:</label>
                        <div class="slds-form-element__control">
                            <div style="display:flex;border:1px Solid black;background-color:pink;border-radius:2px" >
                                <div style="padding-left:2%;padding-top:3%">
                                </div>
                                <div style="padding-left:25%;width: 100%;">
                                    <apex:outputPanel rendered="{!IF(senderName != null,true,false)}" style="padding-left:2%;width:25%;">    
                                        <centre><b style="width:17%" >{!senderName}</b></centre><br/>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!IF(toNumber != null,true,false)}">
                                        <centre><b>{!toNumber}</b></centre>
                                    </apex:outputPanel>
                                </div>
                            </div>
                            <div id="table2" >
                                <table>
                                    <apex:repeat value="{!smsUtil}" var="line" id="smsList" >
                                        <tr><td>
                                            <apex:outputPanel rendered="{!IF(line.SMS_Initiated_By__c=='Customer',true,false)}">
                                                <div class="container slds-p-around_xx-small slds-var-m-around_xx-small slds-size_8-of-12">
                                                    <p>
                                                        <b>{!line.Description} </b>
                                                    </p>
                                                    <apex:outputField value="{!line.Createddate}" />
                                                </div> </apex:outputPanel></td><td>
                                            <apex:outputPanel rendered="{!IF(line.SMS_Initiated_By__c=='Agent',true,false)}">
                                                <div class="container darker slds-p-around_xx-small slds-var-m-around_xx-small slds-size_12-of-12">
                                                    <p>
                                                        <b>{!line.Description} </b>
                                                    </p>
                                                    <apex:outputField value="{!line.Createddate}" />
                                                </div> 
                                            </apex:outputPanel>
                                            </td></tr>
                                    </apex:repeat>
                                </table>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
            </apex:pageBlock>
        </apex:form>
    </div>
    <style>
        /* Chat containers */
        .container {
        border: 2px solid #dedede;
        background-color: DeepPink;
        border-radius: 15px;
        word-wrap: break-word;
        
        }
        /* Darker chat container */
        .darker {
        border-color: #ccc;
        background-color: LightSkyBlue;
       // word-wrap: break-word;
        }
        /* Clear floats */
        .container::after {
        content: "";
        clear: both;
        display: table;
        }
        /* Style images */
        .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
        }
        /* Style the right image */
        .container img.right {
        float: right;
        margin-left: 20px;
        margin-right:0;
        }
        /* Style time text */
        .time-right {
        float: right;
        color: #aaa;
        }
        /* Style time text */
        .time-left {
        float: left;
        color: #999;
        }
    </style>
    <style>
        .dot {
        height: 10px;
        width: 10px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
        }
    </style>
</apex:page>