<apex:page sidebar="false" showHeader="false" standardStylesheets="false" controller="MC_OneClickSurvey" >
<apex:form id="formId">
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600" rel="stylesheet"/> 

    <title>Thankyou</title>
  </head>
  <body style="background:#cdcdcd;font-family: 'Raleway', sans-serif;">
    <div class="container" style="background: #fff;max-width: 1170px;margin: 0 auto;position: relative;height: 100vh;">
        <ul style="padding: 30px;margin: 0;">
            <li style="display: inline-block;width: 49%;list-style: none;vertical-align: top;">
                <h2 style="color: #999999;font-weight: 600;">
                <!--Thank you for your response! We work hard to make our customers happy.-->
                Thank you for your response.  Please let us know what we can do better to assist you in the future.
                </h2>
                <a href="javascript:void(0);" style="font-weight: 600;color: #DA2B06;text-decoration: none;">You clicked Great</a>
                <p style="color: #525257;">We are delighted that you are so happy with us at the moment and we really appreciate your feedback.</p>
            
            
            
             <apex:selectList size="1" value="{!selectObject}" >
                    <apex:actionSupport event="onchange" action="{!changeEvent}" reRender="formId"/>
        <apex:selectOptions value="{!regions}"/>
 </apex:selectList>
               
                <br/><br/>
               <!-- <apex:inputText value="{!customerComment}" html-placeholder="Enter other comments" id="otherID" style="height:80px;font-size:14pt;border-style: groove;" rendered="{!isOther}"/> -->
<apex:outputPanel rendered="{!isOther}">
<apex:inputTextarea id="newDesc" value="{!username}" html-placeholder="Enter other comments" StyleClass="font-family:sans-serif;font-size:1.2em;" style="width:500px; height:100px;">
 </apex:inputTextarea>
<br/><br/>
<!--<textarea name="comments" id="usernameComm" style="font-family:sans-serif;font-size:1.0em;" >
Hey... Type your comment here!
</textarea>--></apex:outputPanel>
<br/>

<apex:commandButton value="Submit your comment" action="{!save}" reRender="formId,showServerMessage" style="background:white;"  onmouseover="turnRed('{!$Component.check}')"/>


<br/><br/><br/>
<apex:outputPanel rendered="{!showServerMessage}">
    <b>Thank you for submitting your comment!!!</b>
</apex:outputPanel>
            
            </li>
            <li style="display: inline-block;width: 49%;list-style: none;">
                <img src="https://app.customerthermometer.com/uploads/9319/company_logos/66817_LadyBoss.jpg" style="max-width: 100%;"/>
            </li>
        </ul>
        <img src="https://ladyboss--devs--c.cs90.content.force.com/servlet/servlet.ImageServer?id=0151F000000IEX3&oid=00D1F000000CmxM&lastMod=1557407846000" style="width: 100%;position: absolute;bottom: 0;"/>
    </div> 
       
  </body>
</html>
  </apex:form>              
</apex:page>