<apex:page standardController="Contact">
                        <iframe height="1800"
                                allowTransparency="true"
                                frameborder="0"
                                scrolling="no"
                                style="width:100%;border:none"
                                src="https://ladybossweightloss.wufoo.com/embed/z1uxfr6l1tz0hu2/">
                          <a href="https://ladybossweightloss.wufoo.com/forms/z1uxfr6l1tz0hu2/">
                            Fill out my Wufoo form!
                          </a>
                        </iframe>
</apex:page>