.THIS input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.THIS input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.THIS .slds-button_neutral {
    background-color:deeppink;
}
.THIS .slds-button_neutral:disabled { 
    background-color:pink;
}
.THIS .slds-button:disabled {
    color:black;
}
.THIS .slds-button {
    color:White;
}
.THIS .slds-button_neutral:hover {
    background-color:blue;
    color:White;
}
.THIS .slds-button_brand{
    background-color:deeppink;
    width: 155px;
}
.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}
.THIS .but{
    float: left;
}

.THIS .RightAlign{
    float: right;
}
@media screen and (min-width:901px){
    .THIS .updateCardClass{
        width:3%;
    }
    .THIS .mobileupdateimage{
       max-width:36%;
    }
}
@media screen and (max-width: 900px) {
    /* .THIS .slds-is-open {
    width:100%;
}*/
    .THIS .mobileguttersclass{
        margin-top:11%;
    }
    .THIS .updateCardClass{
        width:9%;
    }
    .THIS .mobileClassMembership {
        display:inline-block;
    }
    .THIS .mobileClassTable{
        margin-top:10%;
    }
    .THIS .mobileCheckBox{
        display: inline-block;
    width: 100%;
    }
    .THIS .mobileupdateimage{
        margin-top:2%;
        max-width:50%;
    }
}