.THIS .contactList{
    margin-left: -30%;
    width: 30%;
    position: absolute;
}
.THIS .slds-box{
    margin: 1px;
}
.THIS .select{
    width : 100%;      
    min-height: calc(1.875rem + (1px * 2));
    border: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
    padding: 0 1rem 0 .75rem;
}

.THIS .toggleQuantity{
    display : none;
}
.THIS .clubClass{
    float: right;
    margin-top: -12px;
}
.THIS .prodVal{
    font-size:20px;
}
.THIS .fullwidth{
    width : 100%;
}
.THIS .quantityClass{
    margin-right: 75px;
}

.THIS .group {
  display: flex;
  margin-bottom: 10px;
}

.THIS .productCheckbox {
  height: 20px;
}

.THIS .infotext {
  display: inline-block;
  font-size: 14px;
}