.THIS .slds-form-element {
    height: 34px;
}
.THIS h5.section-header{
    border-bottom: solid 1px #c3c3c3;
    padding: 7px 0;
    clear: left; 
}
.THIS .priya .slds-form-element__label {
    display: inline-flex;
}
.THIS .priya div{
    left: 100px;
}
.THIS .buttonClass{
    float:right;
}
.THIS .fullwidth{
    width : 100% !important;
    padding : 0 !important;
}

@mediaonly screen and (min-width: 48em) .slds-modal_large .slds-modal__container, .slds-modal--large .slds-modal__container{
    padding : 0 ;
    width : 100% !important;
    max-width: none;
}
.THIS .modal-header .slds-modal__header{
    background-color: blue;
    text-align: left;
    font-style: oblique;
    background-color: navy;
    color: white;
}