.THIS#divM{
  background-color: white;
  background-size: 75% 50%;
  border-radius:5px;
}
.THIS .icon {
    max-width: 100%;
    height: auto;
}
.THIS #para h1{
    font-size : 1.3em;
    
}
.THIS #divId {
    padding-left :20px;
}
@mediaonly screen and (min-width: 48em) .slds-modal_large .slds-modal__container, .slds-modal--large .slds-modal__container{
    padding : 0 ;
    width : 100% !important;
    max-width: none;
}
.THIS#menu1{
    padding-right : 9px ;
      width: 1.3rem;
    height: 1.3rem; 
}