.THIS .slds-form-element {
    /* height: 34px;
       display: inline-flex;*/
    height: 10%

}
.THIS h5.section-header{
    border-bottom: solid 1px #c3c3c3;
    padding: 7px 0;
    clear: left; 
}
.THIS .city1 .slds-form-element__label {
    display: inline-flex;
}
.THIS .city1 div{
    left: 100px;
}
.THIS .buttonClass{
    float:right;
}
.THIS .slds-form-element__help{
   	margin-left: 33%
}
.THIS .quant .slds-form-element__help{
        display: none;
}
.THIS .quant .slds-required{
            display: none;

}