.THIS {
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%) fixed;
}

.THIS .mainContainer{
   width : 100% !important;
   background:white;
   border-radius: 14px;
}
.THIS #logo-div {
   width: 100%;
   text-align: center;
}
.THIS img{
   max-width: 130%;
   width: 97%;
   height: auto;
}
.THIS .button{
   width: 80%;
   line-height: 38px;
   border-radius: 3px;
       margin-bottom: 20px;
}
.THIS .group{
   padding-left:20px;
   padding-right:20px;

}